html {
	position: relative;
	min-height: 100%;
}
body {
	background: url(../img/background3.jpg) ;
}

.thumbnail {
	max-height: 380px;
	overflow:hidden;
}

.thumbnail img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }
 
.thumbnail img:hover{
 -webkit-transform: scale(1.03);
 -moz-transform: scale(1.03);
 -o-transform: scale(1.03);
 }

.thumbinal-img {
    height: 260px;
    width: 268px;
    overflow: hidden;
    text-align: center;
}

.thumbnail > a,
.caption a {
	text-decoration: none;
	color: #000;
}

.thumbnail .caption {
    padding-bottom: 0px;
}

.thumbinal-discount {
	max-height: 400px;
	overflow:hidden;
}

.small-description {
	line-height: 1;
    height: 28px;
}

.caption .buy {
	color: #fff;
}

.id-product {
	text-align: right;
	color: #8b8b8b;
}



.table,
.table>tbody>tr>th {
	border: 1px solid #ddd;
	vertical-align: middle;
}

.img-in-cart {
	width: 70px;
}

.table-cart > tbody > tr > td {
    vertical-align: middle;
}

.name-product-cart {
	max-width: 150px;
}

.count-product{
	width: 22px;
}

.minus-cart, .plus-cart, .delete-cart {
	margin: 0 5px 2px 5px;
	width: 24px;
	display: inline;
	border: 1px solid #dfdfdf;
	padding: 4px;
	transition: border-color 0.5s ease 0s;
	transition: box-shadow 0.1s ease 0s;
	display: inline-block
}
.delete-cart{
	margin: 0 0 2px 12px;
	padding: 5px;
}
.minus-cart:hover,.plus-cart:hover,.delete-cart:hover {
	cursor: pointer;
}
.minus-cart:active,.plus-cart:active,.delete-cart:active {
	border-color: #696969;
	box-shadow: 0 0 5px #000;
}

@media (min-width: 768px){
	.modal-dialog-checkout {
		width:500px;
	}
}

.fa-btn {
    margin-right: 8px;
}

.navbar {
	background-color: rgba(80, 114, 153, 0.63);
	height: 80px;
}

.navbar-toggle {
	border-radius: 2px;
	background-color: rgba(255, 0, 0, 0.3);
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-header {
	margin: 8px 0px;
}

.navbar-brand {
	font-size: 3.5em;
	padding: 21px 0px 0px 40px;
}

.navbar-default {
	border-color: #000;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:active,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus {
	color: #fff;
	background-color: rgba(255, 0, 0, 0.3);
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}

.top-menu {
	border: 1px solid #ddd;
    margin: 15px 0px;
    margin-left: 60px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	color: #fff;
	background-color: #486991;
}


.panel {
	border-radius: 2px;
}

.Oswald {
	font-family: 'Oswald', cursive;
	text-shadow: -1px -1px 2px #000000;
}
.Philosopher {
	font-family: 'Philosopher', sans-serif;
}

.Philosopher-15 {
	font-family: 'Philosopher', sans-serif;
	font-size: 1.5em;
}

.KellySlab{
	font-family: 'Kelly Slab', cursive;
}

.Lobster {
	font-family: 'Lobster', cursive;
}

.cart {
    height: 50px;
    width: 80px;
    margin-top: 14px;
    margin-right: 14px;
    background-color: rgba(255, 0, 0, 0.46);
    border-radius: 10px;
    border: 2px solid #fff;
}

.cart > p {
	padding: 13px 0;
	color: #fff;
	text-shadow: 0px 0px 5px #fff;
}

.cart > p:hover {
	cursor: pointer;
}

.filters {
	padding-top: 10px;
}

.container {
	margin-top: 90px;
	margin-bottom: 120px;
}

.content {
	padding: 40px;
}

.content-more {
	padding: 40px;
}

.buy-more,
.description {
   font-size: 16px;
   font-family: 'Lobster', cursive;
}

.navbar-nav>li>{
	padding: 25px;
}

.content,
.left-content,
.content-more {
	background-color: rgba(255,255,255,0.9);
	min-height: 500px;
	border: 1px solid rgba(0, 31, 255, 0.22);
	border-radius: 2px;
}

.old-price {
	text-decoration: line-through;
}

.price {
	font-size: 23px;
    font-weight: bold;
    color: #d9534f;
}

.table-td-characteristics-product>tbody>tr>td {
	/*padding: 2px;*/
	vertical-align: middle;
}

.block-size {
	display: table;
	float: left;
	margin-right: 5px;
	height: 35px;
	width: 70px;
	background-color: #b70000;
}

.text-size {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}

.text-right {
	text-align: right;
}



footer {
	position: absolute;
	bottom: 10px;
	min-height: 100px;
	width: 100%;
	background-color: rgba(80, 114, 153, 0.63);
	display: table;
}

.copirate {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	text-shadow: 0px 0px 5px #000;
}

